@font-face {
  font-family: "Groce";
  src: url("../../assets/fonts/Groce.ttf");
}

.heading {
  font-family: "Groce";
  font-weight: 500;
}

.heading.heading-1 {
  font-size: 3.5rem;
}
.heading.heading-2 {
  font-size: 2.5rem;
}

.heading.secondary {
  color: var(--secondary);
}

.heading.light {
  color: var(--light);
}

.heading.center {
  text-align: center;
}

.text {
  font-size: 1.4rem;
  line-height: 1.4;
}

.text.md {
  font-family: "JosefinSans-Regular";
  font-size: 1.6rem;
}

.text.lg {
  font-family: "JosefinSans-SemiBold";
  font-size: 1.8rem;
}

.text.sm {
  font-family: "JosefinSans-Light";
  font-size: 1.5rem;
}

.text.secondary {
  color: var(--secondary);
}

.text.light {
  color: var(--light);
}

.text.center {
  text-align: center;
}

.text.upper {
  text-transform: uppercase;
}

.text.capitalized {
  text-transform: capitalize;
}
