.btn {
  min-width: 10rem;
  height: 4.5rem;
  padding: 1rem 2rem;
  outline: none;
  background: transparent;
  border: 1px solid $secondary;
  font-size: 1.5rem;
  font-family: "JosefinSans-400";
  color: $secondary;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  transition: border 0.4s ease;
  cursor: pointer;

  &.dark {
    background: $secondary;
  }

  &.bdr {
  }

  &__icon {
    color: $secondary;
    height: 2.2rem;
    width: 2.2rem;

    &.left {
      margin-left: 0.4rem;
    }
    &.right {
      margin-right: 0.4rem;
    }
  }

  &:hover {
    border: 3px solid $secondary;
  }

  &:active,
  &.active {
    background: $secondary;
    color: $dark;
  }
}

.icon {
  display: block;
  height: 2.5rem;
  width: 2.5rem;

  &.sm {
    height: 2rem;
    width: 2rem;
  }

  &.light {
    color: $light;
  }
  &.dark {
    color: $dark;
  }
  &.current,
  &.secondary {
    color: $secondary;
  }

  &.anime {
    animation-duration: 2s;
    animation-name: slideupsmall;
    animation-iteration-count: infinite;
    // animation-fill-mode: backwards;
  }
}

.round-btn {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary;
  outline: none;
  background: transparent;
  border-radius: 50%;
}

.order-btn {
  height: 3rem;
  min-width: 6rem;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.outline {
  border: 1px solid $dark;
  color: $dark;

  &:hover {
    background: $dark;
    color: #fff;
  }
}

.blue {
  background: $blue-dark;
  color: #fff;

  :hover {
    background: $blue-light;
    color: $blue-dark;
  }
}

.new {
  background: rgb(160, 42, 214);
  color: #fff;

  &:hover {
    background: rgba(160, 42, 214, 0.8);
    color: #fff;
  }
}
