.btn {
  min-width: 10rem;
  height: 4.5rem;
  padding: 1rem 2rem;
  outline: none;
  background: transparent;
  border: 1px solid $secondary;
  font-size: 1.5rem;
  font-family: "JosefinSans-400";
  color: $secondary;
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  transition: border 0.4s ease;
  cursor: pointer;

  &.dark {
    background: $secondary;
  }

  &.bdr {
  }

  &__icon {
    color: $secondary;
    height: 2.2rem;
    width: 2.2rem;

    &.left {
      margin-left: 0.4rem;
    }
    &.right {
      margin-right: 0.4rem;
    }
  }

  &:hover {
    border: 3px solid $secondary;
  }

  &:active,
  &.active {
    background: $secondary;
    color: $dark;
  }
}

.icon {
  display: block;
  height: 2.5rem;
  width: 2.5rem;

  &.sm {
    height: 2rem;
    width: 2rem;
  }

  &.light {
    color: $light;
  }
  &.dark {
    color: $dark;
  }
  &.current,
  &.secondary {
    color: $secondary;
  }

  &.anime {
    animation-duration: 2s;
    animation-name: slideupsmall;
    animation-iteration-count: infinite;
    // animation-fill-mode: backwards;
  }
}

.round-btn {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary;
  outline: none;
  background: transparent;
  border-radius: 50%;
}

.orders-panel,
.optionspanel {
  position: fixed;
  z-index: 50;
  width: 12rem;
  height: auto;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba($dark, 0.4);
  display: block;

  & > * {
    font-size: 1.4rem;
    font-family: "JosefinSans-400";
    font-weight: unset;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem;
    width: 100%;
    text-transform: capitalize;
    color: $dark;
    cursor: pointer;

    &:hover {
      color: $primary-dark;
      background: $primary-light;
    }
  }

  & > *:first-child {
    display: block;
    border-bottom: 1px solid rgba($primary-dark, 0.4) !important;
  }
}

.create-link {
  height: 4rem;
  min-width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-dark;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "JosefinSans-400";
  font-weight: unset;
  text-transform: capitalize;
  padding: 0 2rem;
}
