.form {
  &__group {
    display: flex;
    align-items: center;
    min-width: 18rem;
    border: 1px solid rgba($dark, 0.2);
    border-radius: 5px;
    background: #fff;
    padding-right: 1rem;
    margin-right: 1rem;

    &-icon {
      height: 1.5rem;
      width: 1.5rem;
      color: $dark;
    }

    &-input {
      width: 100%;
      padding: 0.8rem 0 0.8rem 1rem;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-family: "JosefinSans-400";
      font-family: unset;
      color: $dark;

      &.date {
        width: 45%;
      }
    }

    &.dates {
      min-width: 25rem;

      & > *:first-child {
        margin-right: 0.5rem;
      }

      span {
        font-size: 2rem;
        font-family: "JosefinSans-600";
        color: $dark;
      }
    }
  }

  &__select {
    min-width: 14rem;
    outline: none;
    border: 1px solid rgba($dark, 0.2);
    border-radius: 5px;
    background: #fff;
    font-size: 1.4rem;
    font-family: "JosefinSans-400";
    font-family: unset;
    color: #999;
    text-transform: capitalize;
    padding: 0 0.5rem;

    option {
    }
  }
}
