$dark: #050a10;
$primary: #092233;
$secondary: #c5a86e;
$light: #f8fcff;
$grey-dark: #ebebeb;
$grey-light: #f6f6f6;
$red-dark: #dc1b23;
$red-light: #f3d3d3;
$orange: #fc7501;
$blue-dark: #286ffa;
$blue-light: #ccd9f1;
$green-dark: #0d9165;
$green-light: #b9f1df;
$bp-xl: 75rem; // 1200px
$bp-lg: 60rem; // 960px
$bp-md: 45rem; // 720px
$bp-sm: 30rem; // 480px
