#error-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 3vmax;
    color: $dark;
    font-weight: 700;
    font-family: "Groce";
    line-height: 1.2;
  }

  p {
    font-size: 1.5rem;
    font-family: "JosefinSans-400";
    color: $primary;

    &.error-text {
      font-family: "JosefinSans-300";
    }
  }

  h1,
  p {
    color: $light;
  }

  .error-link {
    color: $secondary;
    font-size: 1.4rem;
    font-family: "JosefinSans-400";
  }
}
