.anime {
  animation-duration: 1.2s;
  animation-name: slideupsmall;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.anime2 {
  animation-duration: 1.2s;
  animation-name: slideupbg;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
}
.slideguy {
  animation-duration: 1.2s;
  animation-name: nextSlide;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
}

.menu {
  position: relative;
  top: -7rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: $dark;
  z-index: 550;
  padding: 0 8rem;

  @media only screen and (max-width: $bp-xl) {
    padding: 0 6rem;
  }

  @media only screen and (max-width: $bp-lg) {
    padding: 0 4rem;
  }

  @media only screen and (max-width: $bp-md) {
    height: auto;
    min-height: 100vh;
    bottom: unset;
    padding-top: 8rem;
  }

  @media only screen and (max-width: $bp-sm) {
    padding: 0 2rem;
    padding-top: 8rem;
  }

  &__container {
    width: 100%;
    height: 100%;
    position: relative;

    display: grid;
    grid-template-columns: 10rem auto;
    grid-column-gap: 2rem;

    @media only screen and (max-width: $bp-lg) {
      grid-template-columns: 5rem auto;
    }
    @media only screen and (max-width: $bp-md) {
      height: auto;
      grid-template-columns: 100%;
    }
  }

  &__category {
    &-section {
      width: 100%;
      height: 100%;
      padding-top: 4.5rem;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bp-md) {
        display: none;
      }
    }

    &-icon {
      display: block;
      height: 2.4rem;
      width: 2.4rem;
      color: $light;

      &.current {
        color: $secondary;
      }
    }

    &-heading {
      font-size: 3rem;
      font-weight: unset;
      color: $light;
      font-family: "Groce";
      margin-bottom: 4rem;

      @media only screen and (max-width: $bp-lg) {
        width: 15rem;
      }
    }

    &-box {
      height: 40rem;
      width: 5rem;
      background: rgba(9, 34, 51, 0.4);
      border-radius: 1.5rem;
      overflow: hidden;
      margin-bottom: 2rem;
    }

    &-icons-box {
      width: 100%;
      height: 100%;
    }

    &-icons {
      padding: 2rem 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &-btn {
      margin-left: 1rem;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-md) {
      height: auto;
    }
  }

  &__slides {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-md) {
      height: auto;
      position: relative;
      margin-bottom: 8rem;

      & > *:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__slide {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-column-gap: 5%;

    @media only screen and (max-width: $bp-md) {
      height: auto;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
      position: relative;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 2rem;

      @media only screen and (max-width: $bp-md) {
        margin-bottom: 2.5rem;
      }
    }

    &-container {
      height: 100%;
      padding-top: 14rem;

      @media only screen and (max-width: $bp-md) {
        // padding-top: 8rem;
        padding-top: 0;
        height: auto;
        margin-bottom: 4rem;
      }
    }

    &-heading {
      font-size: 2.5rem;
      color: $secondary;
      font-family: "Groce";
      font-weight: unset;
      margin-bottom: 1rem;

      @media only screen and (max-width: $bp-xl) {
        font-size: 2.2rem;
      }

      @media only screen and (max-width: $bp-lg) {
        font-size: 1.8rem;
      }

      @media only screen and (max-width: $bp-md) {
        text-align: center;
      }
    }

    &-box {
      height: 40rem;
      width: 100%;

      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }

      @media only screen and (max-width: $bp-md) {
        height: auto;
        margin-bottom: 4rem;
      }
    }
  }

  &__item {
    text-decoration: none;

    div {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-name,
    &-price {
      font-size: 1.6rem;
      font-family: "JosefinSans-300";
      color: $light;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-lg) {
        font-size: 1.5rem;
      }
    }

    &-price {
      color: $secondary;
    }

    &-desc {
      font-size: 1.4rem;
      font-family: "JosefinSans-300";
      color: $light;
      width: 80%;
    }
  }

  &__slide.prev &__list-heading {
    animation-duration: 0.8s;
    animation-name: menuSlideUp;
    animation-iteration-count: 1;
  }

  &__slide.prev &__list-box {
    animation-duration: 0.75s;
    animation-name: menuSlideUp;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }

  &__img-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30rem 15rem;
    justify-content: flex-end;
    padding-top: 10rem;

    &.ic-img-sect {
      grid-template-areas:
        "img1 img2"
        ". txt";

      & > *:first-child {
        grid-area: img1;
      }

      & > *:nth-child(2) {
        grid-area: img2;
      }

      @media only screen and (max-width: $bp-md) {
        grid-template-areas:
          "img1"
          "img2"
          "txt";
      }
    }

    @media only screen and (max-width: $bp-md) {
      padding-top: 0;
      grid-template-columns: 100%;
      grid-template-rows: 25rem 25rem 14rem;
      grid-template-areas: unset;
      grid-row-gap: 5rem;
    }
  }

  &__text-box {
    width: 100%;
    margin-top: 2rem;
    color: $light;
    width: 85%;

    &.ic-3 {
      grid-area: txt;
      padding-left: 4rem;
      width: 100%;

      @media only screen and (max-width: $bp-md) {
        padding-left: 0;
      }
    }

    &.bl-txt {
      margin-top: 8rem;
      margin-left: 22vmax;

      @media only screen and (max-width: $bp-xl) {
        margin-left: 20vmax;
      }
      @media only screen and (max-width: $bp-lg) {
        margin-left: 18vmax;
      }
      @media only screen and (max-width: $bp-md) {
        margin-top: 0;
        margin-left: 0;
      }
    }

    h5 {
      font-size: 1.5rem;
      color: inherit;
      margin-bottom: 0.4rem;
      font-weight: unset;
      font-family: "josefinSans-400";
      text-transform: lowercase;
    }

    p {
      font-size: 1.3rem;
      color: inherit;
      font-family: "josefinSans-300";
      text-transform: lowercase;
    }

    & > *:first-child {
      margin-bottom: 1rem;
    }
  }

  &__img-box {
    height: 25rem;
    width: 18vmax;
    border: 2px solid $secondary;
    position: relative;

    &.hc,
    &.od,
    &.ic-2,
    &.bk {
      top: 4rem;
      left: 0;
    }

    &.bl {
      justify-self: flex-end;
      top: 10rem;
      left: -6rem;
      transform: rotate(-2deg);
      min-width: 14.5vmax !important;
      width: auto;
      z-index: 5;
    }

    &.bl-2 {
      top: 6rem;
      right: 2rem;
      z-index: 3;
      min-width: 14.5vmax !important;
      width: auto;
      transform: rotate(-1deg);
    }

    &.ic-2 {
      left: -4rem;
      transform: rotate(-2deg);
      z-index: 3;
    }

    &.bk {
      left: -4rem;
      transform: rotate(-2deg);
      width: auto;
      min-width: 14.5vmax !important;
      z-index: 5;
    }

    &.od {
      left: 1rem;
      transform: rotate(-4deg);
    }

    &.hc-2,
    &.od-2,
    &.ic,
    &.bk-2 {
      top: 14rem;
      left: -2rem;
    }

    &.hc-2 {
      @media only screen and (max-width: $bp-xl) {
        left: -2rem;
      }
      @media only screen and (max-width: $bp-lg) {
        left: -5rem;
      }
    }

    &.bk-2 {
      z-index: 3;
      width: auto;
      min-width: 14.5vmax !important;
      transform: rotate(-3deg);
    }

    &.ic {
      transform: rotate(-2deg);
      z-index: 5;
      width: 14.5vmax !important;

      @media only screen and (max-width: $bp-xl) {
        left: -3rem;
      }
    }

    &.od-2 {
      transform: rotate(4deg);

      @media only screen and (max-width: $bp-lg) {
        left: -4rem;
      }
    }

    @media only screen and (max-width: $bp-md) {
      &.hc,
      &.od,
      &.ic-2,
      &.bk,
      &.hc-2,
      &.od-2,
      &.ic,
      &.bk-2,
      &.bl-2,
      &.bl {
        top: 0;
        left: 1rem;
        right: unset;
        bottom: unset;
        height: 25rem;
        width: 35vmax !important;
      }

      &.bk {
        left: 0.5rem;
      }

      &.bk-2 {
        width: 33vmax !important;
        left: 1rem;
      }
      &.bl,
      &.ic {
        justify-self: flex-start;
      }

      &.od {
        left: 1rem;
      }

      &.od-2 {
        left: 2rem;
      }

      &.hc-2 {
        left: 2.5rem;
      }

      &.bl-2 {
        left: 3.5rem;
      }
    }

    @media only screen and (max-width: $bp-sm) {
      &.hc,
      &.od,
      &.ic-2,
      &.bk,
      &.hc-2,
      &.od-2,
      &.ic,
      &.bk-2,
      &.bl-2,
      &.bl {
        width: 80% !important;
      }

      &.bk-2 {
        width: 75% !important;
      }

      &.od-2 {
        left: 2.5rem;
      }

      &.ic,
      &.ic-2,
      &.bl {
        left: 1rem;
      }
      &.bl-2,
      &.hc-2 {
        left: 3.5rem;
      }
    }
  }

  &__img {
    width: 20vmax;
    height: 100%;
    border: 2px solid $secondary;
    position: absolute;
  }

  &__img-box.hc &__img,
  &__img-box.od &__img,
  &__img-box.ic &__img {
    top: -2rem;
    right: -2rem;
    transform: rotate(4deg);
  }
  &__img-box.od &__img,
  &__img-box.bk &__img {
    right: -1rem;
    top: -1rem;
  }

  &__img-box.bk &__img,
  &__img-box.bl &__img {
    transform: rotate(2deg);
    min-height: 27rem;
    top: -4rem;
    min-width: 16.5vmax !important;
    right: -4rem;
  }

  &__img-box.ic &__img {
    right: -3rem;
    transform: rotate(2deg);
    min-width: 16vmax;
    width: auto;

    @media only screen and (max-width: $bp-xl) {
      min-width: 18vmax;
      right: -5rem;
    }
  }

  &__img-box.hc-2 &__img,
  &__img-box.od-2 &__img {
    top: -2rem;
    left: -2rem;
    transform: rotate(-4deg);
  }

  &__img-box.od-2 &__img {
    top: -1rem;
    transform: rotate(-4deg);
  }
  &__img-box.ic-2 &__img {
    top: -2rem;
    right: -2rem;
    transform: rotate(2deg);
    height: 27rem;
  }

  &__img-box.bl-2 &__img {
    top: -3rem;
    left: -3rem;
    transform: rotate(1deg);
    min-width: 16vmax;
  }
  &__img-box.bk-2 &__img {
    bottom: -3rem;
    left: -1rem;
    transform: rotate(3deg);
    min-width: 16vmax;
  }

  @media only screen and (max-width: $bp-md) {
    &__img-box.bk &__img,
    &__img-box.bl &__img,
    &__img-box.ic &__img {
      height: 28rem;
      width: 38.5vmax;
      right: -2rem;
    }

    &__img-box.ic &__img,
    &__img-box.bk-2 &__img {
      height: 25rem;
      width: 37.5vmax;
    }

    &__img-box.bk-2 &__img,
    &__img-box.bl-2 &__img {
      min-width: 37.5vmax !important;
    }

    &__img-box.hc &__img,
    &__img-box.od &__img,
    &__img-box.ic &__img,
    &__img-box.od-2 &__img,
    &__img-box.hc-2 &__img,
    &__img-box.ic-2 &__img {
      width: 35.5vmax;
    }

    &__img-box.od-2 &__img {
      height: 25rem;
    }
  }

  @media only screen and (max-width: $bp-sm) {
    &__img-box.bk &__img,
    &__img-box.bl &__img,
    &__img-box.ic &__img {
      right: -2rem;
      width: 110%;
    }

    &__img-box.ic &__img,
    &__img-box.bk-2 &__img {
      height: 25rem;
      width: 100%;
    }

    &__img-box.bk-2 &__img,
    &__img-box.bl-2 &__img {
      min-width: 100% !important;
    }

    &__img-box.hc &__img,
    &__img-box.od &__img,
    &__img-box.ic &__img,
    &__img-box.od-2 &__img,
    &__img-box.hc-2 &__img,
    &__img-box.ic-2 &__img {
      width: 100%;
    }

    &__img-box.od-2 &__img {
      height: 25rem;
    }
  }

  &__slide.prev &__img {
    animation-duration: 1.4s;
    animation-duration: 2s;
    animation-name: menuSlideUp;
    animation-iteration-count: 1;
  }
  &__slide.prev &__img-box {
    animation-duration: 1.4s;
    animation-duration: 2s;
    animation-name: menuSlideUp;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }
  &__slide.prev &__text-box {
    animation-duration: 1.4s;
    animation-duration: 2s;
    animation-name: menuSlideUp;
    animation-iteration-count: 1;
    animation-delay: 0.15s;
  }
}
