@font-face {
  font-family: "SwistblnkMM";
  src: url("../assets/fonts/SwistblnkMM.ttf");
}

.header {
  position: relative;
  width: 100%;
  height: calc(100vh - 7rem);
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../public/header-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 4rem;
  left: 6vmax;
  z-index: 200;
}

.header-icons > *:not(:last-child) {
  margin-bottom: 1rem;
}

.header-logo-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-54%, -45%);
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 8vmax;
  color: var(--light);
  font-family: "SwistblnkMM";
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.header-logo-icon {
  height: 2.5vmax;
  width: 2.5vmax;
  color: var(--light);
}

.header-logo-box > *:first-child {
  margin-right: 3vmax;
}
.header-logo-box > *:last-child {
  margin-left: 1.5vmax;
}

.section {
  width: 100%;
  padding: 7rem 6vmax;
  min-height: 100vh;
}

.section.seasons {
  background: linear-gradient(rgb(5, 10, 16, 0.9), rgb(5, 10, 16, 0.6)),
    url("../public/winter.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.section-inner {
  width: 100%;
  height: 100%;
}

.treats,
.sets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 3.1%);
  grid-template-rows: repeat(8, 4rem);
  grid-column-gap: 2%;
}

.treats > *:first-child,
.sets > *:first-child {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: -1;
}
.treats > *:nth-child(2),
.sets > *:nth-child(2) {
  position: relative;
  grid-column-start: 7;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: -1;
  margin-top: 4rem;
}
.treats > *:nth-child(3),
.sets > *:nth-child(3) {
  grid-column-start: 14;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.section.periods {
  width: 100%;
  height: 100%;
  background: var(--primary);
}

.section.seasons .section-inner > *:first-child,
.section.periods .section-inner > *:first-child {
  margin-bottom: 1rem;
}

.section.menu {
  width: 100%;
  height: 100%;
  background: var(--dark);
}

.menu-items {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 10%;
  position: relative;
}

.menu-btn-icon {
  color: var(--secondary);
  height: 2rem;
  width: 2rem;
}

.menu-items,
.treats,
.sets {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sets {
  margin-bottom: 10rem;
}

.menu-items {
  position: relative;
  margin-bottom: 5rem;
  z-index: 20;
}

.bean {
  height: 3.5rem;
  width: 2rem;
  position: absolute;
}

.bean-img-box {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.bean.bean-1 {
  bottom: -5rem;
  right: -3rem;
  transform: rotate(10deg);
}

.bean.bean-3 {
  bottom: 5rem;
  right: -7rem;
  width: 3.5rem;
  height: 2.5rem;
  transform: rotate(-50deg);
}

.bean.bean-4 {
  top: -1rem;
  right: -1rem;
  width: 2.8rem;
  transform: rotate(-15deg);
}

.bean.bean-2 {
  top: -8rem;
  left: -7rem;
  width: 2.5rem;
  transform: rotate(30deg);
}

.bean.bean-5 {
  top: -1rem;
  left: -12rem;
  width: 3rem;
  transform: rotate(65deg);
}

.grain {
  height: 6.5rem;
  width: 5rem;
  position: absolute;
  z-index: -1;
}

.grain.grain-1 {
  bottom: 7rem;
  left: -2rem;
  transform: rotate(-100deg);
}
.grain.grain-2 {
  top: -3rem;
  right: 0;
  /* transform: rotate(-100deg); */
}

.socials {
  width: 100%;
  background: var(--dark);
  padding: 4rem 0;
  position: relative;
  padding-bottom: 6rem;
}

.socials > *:first-child {
  margin-bottom: 4rem;
}

.social-icon {
  height: 2rem;
  width: 2rem;
  color: var(--secondary);
}

.bean.bean-social {
  left: 30%;
  height: 3.5rem;
  width: 2.5rem;
  bottom: 2rem;
  transform: translateX(-30%) rotate(-30deg);
}
