.secondary-heading {
  font-family: "Groce";
  font-size: 2.85vmax;
  font-weight: unset;
  text-transform: uppercase;
  color: $light;

  &.left {
    text-align: left;
  }
}

.lead {
  font-size: 1.7rem;
  color: $secondary;
  font-family: "Groce";
  font-weight: unset;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-md) {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: $bp-sm) {
    font-size: 1.2rem;
  }
}

.section-heading {
  font-family: "Groce";
  font-size: 2.2vmax;
  font-weight: unset;
  text-transform: uppercase;
  color: $secondary;
}

// font-family: 'Open Sans', sans-serif;

%card-styles {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;

  @media only screen and (max-width: $bp-sm) {
    white-space: unset;
  }
}

.card-heading {
  @extend %card-styles;
  font-weight: 500;
  color: #999;
}

.card-text {
  @extend %card-styles;
  font-weight: 600;
  color: $dark;
}

.topbar-heading {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  columns: $dark;
  text-transform: capitalize;
}
